.card-container
{
 
      aspect-ratio: 2 / 3; /* або 16/9, або 1/1, залежно від бажаної форми */
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin: 3px 3px 3px 3px;
    
    border-radius: 3px;
    border-color: green;
    border-style: solid;
      background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    position: relative;
}
.card-container > * 
{
    display: flex;
    flex-direction: row;
    position: relative;
}
.preview
{
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
.card-header{
height: 10%;
}
.card-trailer{
    height: 15%;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;


}
.card-trailer > *
{
   
}
.card-trailer:hover{
    opacity: 1;
}
.card-icon{
    height: 50%;
    padding: 30% 30% 30% 25%;
    position:relative;
}
.card-footer
{
    height: 0%;
}
.card-hide{
    display: none !important;
}
.card-visual-hide{
    visibility: hidden;
}
.card-icon-trailer{
    height: 25px;
    
}
.card-header-icon-trailer
{ 
  background-color:black;
}
.card-header-icon-trailer:hover
{
    opacity: 1;
}


.card-trailer-site
{
    position: absolute; /* щоб лягало поверх картинки */
   
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column; /* іконка зверху, текст знизу */
    justify-content: center; /* по вертикалі */
    align-items: center; /* по горизонталі */
    
    background-color: rgba(0,0,0,0.6);
    
}
.card-header{
    display: flex;
    flex-direction:row-reverse;
    position: relative;
    right: 1%;
    width: 100%;

}

.card-icon-data
{
height: 10px;
width: 10px;
z-index: 5;

}
.card-block>*{
    
}
.card-block
{
    display:flex;
    flex-direction:row;
    justify-content: center;
    background-color:grey;
    
}
.card-block p
{
    color:white;
    font-size: 8px;
}
.card-icon-img
{
    height: 40%;
    width: 40%;
    position: absolute;
    top:15%;
    left: 34%;
    bottom: 30%;
}
.card-image
{
    position: absolute;
     width: 20vh;
  height: auto;
}

.card-site-hide
{
    display: none;
}

.card-info
{
    cursor:help;
}

.show-info
{
  
    background-color:#222d33;
    position: absolute;
    
    
    
    border-color:white;
    border-radius:1px;
    border-style:solid;
    z-index: 88;
    
}
.blue-color
{
    color:#2e859e;
}

.modal-show-info
{
    display: flex;
    flex-direction: column;
    font-size: 12px;
    aspect-ratio: 16 / 9;
    width: 30vw;
    height: 60vh;
   
}
.modal-show-info
{
    color:#898f92;
    overflow: hidden;

}
.modal-row
{
    display: flex;
    flex-direction: row;
}
.modal-row >*
{
    margin: 0 0 0 0;
}
.modal-show-info > *
{
    margin: 0 0 0 0;
}
.info-icon-modal-window
{
    display:flex;
    position: relative;
    width: 100%;
    flex-direction: row-reverse;
}

.card-footer
{
    position: absolute;
    
    bottom: 18px;
    font-size: 10px;
   
    
}
.card-footer-txt{
    height: 20px;
    background-color:#222d33;
    color:white;
     display: flex;
    justify-content: center;
    align-items: center;
}
.card-trailer-container
{
    display: flex;
    flex-direction:row;
    
    align-items: center;
    position: relative;
    cursor: pointer;
   
}
.card-trailer-container * {
    padding: 0 0 0 0;
    margin:  0 0 0 0;
}
.card-trailer-site-txt {
    padding-left: 14px !important;
}